.news-wrapper ul {
  font-weight: normal;
  font-size: 14px;
  padding: 25px 0;
}

.news-wrapper li {
  padding: 7px 18px;
}

.news-wrapper li:nth-child(even) {
  background-color: #E6E6DF;
}

.load-more {
  color: #FF6600;
  font-size: 20px;
  padding-left: 140px;
}

.comments,
.votes {
  width: 78px;
  display: inline-block;
  text-align: right;
  font-size: 16px;
}

.arrow_up:before {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #999999;
  position: absolute;
  margin-top: 3px;
  margin-left: 8px;
  cursor: pointer;
}

.title {
  display: inline;
  padding: 0 7px 0 30px;
  font-size: 20px
}

.domain  {
  font-size: 13.5px;
  font-weight: bold;
  padding-right: 5px;
}

.author {
  padding: 0 10px 0 2px;
}

.created-at {
  font-weight: bold;
  padding-right: 5px;
}

.domain,
.domain a,
.created-at {
  color: #828282;
}

.domain a{
  text-decoration: none;
}


.hide {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .news-wrapper li {
    padding: 10px 10px;
  }

  .news-wrapper li span {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
  }

  .comments,
  .votes {
    text-align: left;
  }

  .title {
    font-size: 16px;
    display: block;
  }

  .created-at {
    display: inline-block;
    padding-top: 10px;
  }

  .load-more {
    padding: 0 0 20px;
    display: block;
    text-align: center;
  }
}