header {
  background-color: #FF6600;
}

ul {
  list-style: none;
  padding: 17px 12px;
  margin: 0;
  font-weight: bold;
}

.header__list .logo {
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 2px 6px;
  margin-right: 3px;
}

.header__list  li {
  display: inline;
  padding: 0 15px;
  cursor: pointer;
}

.header__list  li:not(.logo) {
  border-right: 2px solid #000000;
}

.header__list  li:nth-last-child(1) {
  border-right: none;
}

.header__list  li.active {
  color: #ffffff;
}